<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ subTopic.name }}</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="doAddClicked()">
            <ion-icon name="add" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title color="secondary"> Questions </ion-title>

    <ion-list *ngIf='questions'>
        
        <button *ngFor='let question of questions' ion-item (click)="questionClicked(question)" >
            <ion-icon *ngIf='question.answered' ios="ios-checkmark-circle" md="md-checkmark-circle" color="primary"></ion-icon>
            {{ question.name }}
        </button>
    </ion-list>

    <button ion-button full color="primary" (click)="doAddClicked()">Add Question</button>

</ion-content>